AboutUs.css
.about-us-title-container p strong {
  display: inline-block; /* Make the strong element a block-level element */
  transition: color 0.3s, transform 0.3s; /* Add transition for smooth effect */
}

.about-us-title-container p strong:hover {
  color: #ffd700 !important; /* Change color on hover */
  transform: scale(1.05) !important; /* Enlarge on hover */
}